@import "tailwindcss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  background-color: #132b45;

  --green: #1a5d5f;
  --darkblue: #132b45;
  --red: #ff3701;
  --lgblue: #e3f4f0;
  --lgorange: #f5f1eb;
  --globeWidth: 1200px;
}

body{
    font-family: "Inter Tight", sans-serif;
}


.feedback-form {
    padding: 30px;
    background-color: #443941;
    border-radius: 18px;
}

.welcome-hero {
    max-width: 600px !important;
    margin: 0 auto;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
}

.welcome-logo {
    position: absolute;
}

.welcome-service-col{
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    background-position: center center;
  }

.owner {
    background-image: url(/src/assets/pet-owner-bg.jpg);
}

.vet {
    background-image: url(/src/assets/veterinary-doctor.jpg);
}

.shelter {
    background-image: url(/src/assets/rescue-volunteer-img.jpg);
}

.welcome-service-col::before{
  background-color: #132b45;
  content: "";
  width: 100%;
  height: 100%;
}

.welcome-service-col::before {
    background-color: #132b4561;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}

.welcome-service-col::after {
    background: linear-gradient(0deg, #132b45de 30%, #5f769000 70%);
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}

.welcome-service-col {
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2.5vw;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.welcome-service-col h3 {
    max-width: 300px;
    text-align: left;
    z-index: 1;
    font-size: 30px;
    line-height: 1.3em;
    color: #fff;
    font-family: "Inter Tight", sans-serif;
}

.container{
    width: 100%;
    max-width: var(--globeWidth);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.top-header{
    background-color: #F4F1EA;
    padding: 10px;
}

.header-nav{
    padding: 20px;
}

.header nav ul{
    display: flex;
    gap: 50px;
}

.header nav ul li{
    list-style: none;
}

.header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.header nav ul li a:hover{
    background-color: rgb(247, 45, 45);
    color: white;
    padding: 20px;
    border-radius:20px;
    transition-duration: 0.3s;
}

.button {
    background-color: rgb(247, 45, 45);
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    border: none;
}

.header .col.logo {
    margin: -10px 0;
}

.header .row {
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 0 15px 10px #00000017;
    overflow: hidden;
    z-index: 99;
}

.popup {
    padding: 25px;
}

.popup h2 {
    margin-bottom: 10px;
}

.popup input {
    margin-bottom: 10px;
    padding: 10px;
}

.header-col {
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile-greet {
    font-size: 10px;
    font-family: "Inter Tight", sans-serif;
    color: #818181;
    letter-spacing: .3px;
    text-transform: uppercase;
}

.profile-name {
    font-size: 18px;
    line-height: 1.2em;
}

.welcome-hero {
    max-width: 600px !important;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f1eb63;
    padding: 20px;
    position: absolute;
    z-index: 999 !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 0 0px 20px 20px;
    backdrop-filter: blur(5px);
}

.welcome-logo {
    position: absolute;
    z-index: 9999;
    left: 30px;
}

.welcome-hero h1 {
    font-size: 38px !important;
}

.welcome-hero h1 {
    font-size: 38px !important;
    color: #132b45;
    font-weight: 800;
}